{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
    Checkout
{% endblock %}
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Your order</div>
        <div class="panel-body">
            <ul class="list-group">
                {% for item in cart %}
                    <li class="list-group-item">
                        ${{ item.total_price }}
                        <span class="badge">{{ item.product.name }} x{{ item.quantity }}</span>
                    </li>
                {% endfor %}
            </ul>
            <p>Total: ${{ cart.get_total_price }}</p>

        </div>
    </div>

    <h1>Checkout</h1>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% buttons %}
            <button type="submit" class="btn btn-success btn-product">
                <span class="glyphicon glyphicon-shopping-cart"></span> Place order
            </button>
        {% endbuttons %}
    </form>
    
    <div>


<article class="card">
        <div class="card-body p-5">
        
        <ul class="nav bg radius nav-pills nav-fill mb-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
                <i class="fa fa-credit-card"></i> Mpesa</a></li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                <i class="fab fa-paypal"></i> Tigo Pesa</a></li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
                <i class="fa fa-university"></i> Equity pay</a></li>
        </ul>
        
        <div class="tab-content">
        <div class="tab-pane fade show active" id="nav-tab-card">
            <p class="alert alert-success">Some text success or error</p>
            <form role="form">
            <div class="form-group">
                <label for="username">Full name (on the card)</label>
                <input class="form-control" name="username" placeholder="" required="" type="text">
            </div> <!-- form-group.// -->
        
            <div class="form-group">
                <label for="cardNumber">Card number</label>
                <div class="input-group">
                    <input class="form-control" name="cardNumber" placeholder="" type="text">
                    <div class="input-group-append">
                        <span class="input-group-text text-muted">
                            <i class="fab fa-cc-visa"></i> &nbsp; <i class="fab fa-cc-amex"></i> &nbsp; 
                            <i class="fab fa-cc-mastercard"></i> 
                        </span>
                    </div>
                </div>
            </div> <!-- form-group.// -->
        
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label><span class="hidden-xs">Expiration</span> </label>
                        <div class="input-group">
                            <input class="form-control" placeholder="MM" name="" type="number">
                            <input class="form-control" placeholder="YY" name="" type="number">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                        <input class="form-control" required="" type="number">
                    </div> <!-- form-group.// -->
                </div>
            </div> <!-- row.// -->
            <button class="subscribe btn btn-primary btn-block" type="button"> Confirm  </button>
            </form>

        
        </div> <!-- tab-pane.// -->

       
       
        
       
        <div class="tab-pane fade" id="nav-tab-bank">
        <p>Bank accaunt details</p>
        <dl class="param">
          <dt>BANK: </dt>
          <dd> THE WORLD BANK</dd>
        </dl>
        <dl class="param">
          <dt>Accaunt number: </dt>
          <dd> 12345678912345</dd>
        </dl>
        <dl class="param">
          <dt>IBAN: </dt>
          <dd> 123456789</dd>
        </dl>
        <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. </p>
        </div> <!-- tab-pane.// -->
        </div> <!-- tab-content .// -->
        </div>
        </div> <!-- card-body.// -->
        </article> <!-- card.// -->
        
        


     </div>
{% endblock %}